[mysqld]
# Binlog 활성화
log_bin                    = mysql-bin
server_id                  = 1

# 만료 기간: 7일
binlog_expire_logs_seconds = 604800

# 파일당 최대 크기: 200MB
max_binlog_size            = 209715200
